@{
    ViewData["Title"] = "Контакти";
}
<h2>@ViewData["Title"]</h2>

<address>
    Проект на бакалаврську роботу<br />
    Львів, ФР 54645-65676<br />
    <abbr title="Телефон">P:</abbr>
    098567653
</address>

<address>
    <strong>Підтримка:</strong> <a href="Support@example.com">Support@example.com</a><br />
    <strong>Продаж:</strong> <a href="Marketing@example.com">Marketing@example.com</a>
</address>
