@model RentalDTO

@{
    ViewData["Title"] = "Пошук";
}

<h2>Пошук авто</h2>

<h4>Введіть дату початку та кінця оренди</h4>
<hr />
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form asp-action="Search">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StartCarRentalDate" class="control-label"></label>
                <input asp-for="StartCarRentalDate" class="form-control" />
                <span asp-validation-for="StartCarRentalDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndCarRentalDate" class="control-label"></label>
                <input asp-for="EndCarRentalDate" class="form-control" />
                <span asp-validation-for="EndCarRentalDate" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Пошук" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}